<div class="page-top">
    <div class="content-page">
        <div class="container">
            <div class="category-featured Vegetables">
                <nav class="navbar nav-menu show-brand">
                    <div class="container">
                        <div class="navbar-brand"><a routerLink="#"> <img alt="fashion" src="assets/images/check_mark.png" />Tất cả sản phẩm</a></div>
                    </div>
                </nav>
                <div class="product-featured clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-right">
                                    <ul class="product-list">
                                        <ng-container *ngFor="let item of list">
                                        <li class="col-sm-4 product-item">
                                            <div class="left-block">
                                                <a routerLink="">
                                                    <img class="img-responsive" alt="Loading..."
                                                         src="assets/images/hinhanh/Products/{{item.hinh}}" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Tương tác" class="heart" routerLink="#"></a>
                                                    <a title="So sánh sản phẩm đồng giá" class="compare" routerLink="#"></a>
                                                    <a title="Quick view" src="assets/images/hinhanh/Products/{{item.hinh}}" class="search fancybox-button"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-item-to-cart" title="Thêm Vào Giỏ Hàng" data-name=""
                                                       data-price="" data-image="" data-product-code="">Thêm Vào Giỏ Hàng</a>
                                                </div>
                                                <div class="icon-sale7"></div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a [routerLink]="['chitiet',item.masp]">{{item.tensp}}</a></h5>
                                            </div>
                                            <div class="content_price">
                                                <div class="content_price">
                                                    <span class="price product-price"><span style="color: black"></span>{{item.gia | currency:'VND':true:'1.0-2'}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>