<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assets/images/hinhanh/slide1.jpg" alt="Gỗ Trang Trí">
                            <img src="assets/images/hinhanh/slide2.jpg" alt="Gỗ Trang Trí">
                            <img src="assets/images/hinhanh/slide3.jpg" alt="Gỗ Trang Trí">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Giới Thiệu Website Đồ Gỗ Nội Thất</h3>
                    <div class="rating">
                        <p class="product-description">
                        <p>Trang Website của chúng tôi rất hân hạnh được phục vụ khách hàng!</p>
                        <p>Chuỗi cửa hàng Đồ Gỗ Nội Thất cung cấp toàn quốc</p>
                        <p>+ Website    : Chuyên bán Đồ Gỗ Nội Thất phân phối toàn miền bắc.</p>
                        <p>+ Phục vụ    : khách hàng có thể được phục vụ hoặc tư vấn từ 7h - 21h mỗi ngày.</p>
                        <p>+ Tư Vấn     : Tư vấn cho khách hàng mua sản phẩm và tư vấn thiết kế phù hợp cho từng không gian.</p>
                        <p>+ Chất lượng : Chuyên cung cấp các sản phẩm tốt được cấp chứng nhận về hàng việt nam xuất khẩu nước ngoài.</p>
                        <p>Tất cả các cửa hàng đều thuộc Hà Nội nên rất dễ dàng cho các bạn tiếp cận!</p>
                        <p>+ Website    : Giúp đưa các sản phẩm tiếp cận nhiều hơn đến các vùng khác thậm chí miền nam.</p>
                        <p>+ Cung cấp   : Hoàn toàn sản phẩm trên trang web đều được cung cấp từ công ti sản xuất Đồ Gỗ Nội Thất "Gỗ Trang Trí"</p>
                        <p>Chắc chắn có sự khác biệt về trang web của chúng tôi với các trang web khác!</p>
                        <p>+ Thứ 1      : Chỉ bán Đồ Gỗ Nội Thất.</p>
                        <p>+ Thứ 2      : Giao Hàng không quá 5 ngày đến bất cứ đâu.</p>
                        <p>+ Thứ 3      : Ưu đãi và bảo hành về chất lượng :</p>
                        <p>Bảo Hành     : 5 năm đối với sản phẩm!</p>
                        <p>☆☆☆☆☆ Ưu tiên khách hàng mua sản phẩm mới☆☆☆☆☆</p>
                        <p>>>>Chú ý     : Ưu Đãi Đặc Biệt Khi khách hàng mua 3 sản phẩm cùng 1 lúc có khuyến mãi giảm giá tất lên đến 5% tổng hóa đơn giá trị sản phẩm !</p>
                        <p>Mọi chi tiết vui lòng liên hệ</p>
                        <p>Nhữ Văn Hưng</p>
                        <p>Địa chỉ      : cơ sở sản xuất Thái Hòa – Bình Giang – Hải Dương</p>
                        <p>Hotline      : 0344-990-147</p>
                        <p class="vote">
                            <strong>Thông tin đã giúp ích cho bạn ?</strong>
                        </p>
                        <div class="action">
                        <a href="#" target="_blank"><button class="add-to-cart btn btn-default" type="button">Đã Hiểu</button></a> <a href="#" target="_blank"><button class="add-to-cart btn btn-default" type="button">Cần Thêm Thông Tin</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>