<div class="columns-container">
    <div class="container" id="columns">
        <div class="row">
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-pagelines"></span>SẢN PHẨM</p>
                    <div class="block_content">
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                                <li class="#">
                                                    <span><a href=""></a></span>
                                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center_coluamn col-xs-12 col-sm-9" id="center_column">
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-6">
                            <div class="product-image">
                                <div class="product-full">
                                    <img id="product-zoom" src="assets/images/hinhanh/Products/{{item.hinh}}"
                                         data-zoom-image="" />
                                </div>
                                <div class="product-img-thumb" id="gallery_01">
                                    <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false"
                                        data-margin="20" data-loop="true">
                                        <li>
                                            <a href="#">
                                                <img id="product-zoom"
                                                     src="assets/images/hinhanh/Products/{{item.hinh}}" />
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-6">
                            <h1 class="product-name">{{item.tensp}}</h1>
                            <br />
                            <div class="product-price-group">
                                <span class="price product-price">
                                    <span style="color: black">{{item.gia | currency:'VND':true:'1.0-2'}}</span>
                                </span>
                            </div>
                            <div class="info-orther">
                                <p>Mã sản phẩm:{{item.masp}}</p>
                                <p>Mô tả: <span class="in-stock">{{item.mota}}</span></p>
                            </div>
                            <div class="form-option">
                                <div class="attributes">
                                    <div class="attribute-label">Số Lượng:{{item.soluongton}}</div>
                                    <div class="attribute-list product-qty">
                                        <div class="qty">
                                            <input id="option-product-qty" type="number"  value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="button-group">
                                    <a class="add-item-to-cart btn-add-cart" title="Thêm Giỏ Hàng" onclick="muahang('')"
                                       data-name=""
                                       data-price=""
                                       data-image=""
                                       data-product-code="">Thêm Vào Giỏ Hàng</a>
                                </div>
                                <div class="button-group">
                                    <a class="wishlist" href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <br>Yêu thích
                                    </a>
                                    <a class="compare" href="#">
                                        <i class="fa fa-signal"></i>
                                        <br>
                                        So sánh
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>