<div class="columns-container">
    <div class="container" id="columns">
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title">Đặt hàng</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            <form  [formGroup]="hoadonForm" (ngSubmit)="themdon(hoadonForm.value)">
            <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
 <!-- BEGIN PAYMENT ADDRESS -->
 <div id="payment-address" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle">
                Bước 1: Thông tin đặt hàng
            </a>
        </h2>
    </div>
    <div id="payment-address-content" class="panel-collapse collapse in">
        <div class="panel-body row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="firstname">Tên <span class="require">*</span></label>
                    <input type="text" id="firstname" formControlName="ho" class="input form-control">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail <span class="require">*</span></label>
                    <input type="text" id="email" formControlName="email" class="input form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="lastname">Họ <span class="require">*</span></label>
                    <input type="text" id="lastname" formControlName="ten" class="input form-control">
                </div>
                <div class="form-group">
                    <label for="telephone">Điện thoại <span class="require">*</span></label>
                    <input type="text" id="telephone" formControlName="dienthoai" class="input form-control">
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="address1">Địa chỉ</label>
                    <textarea type="text" id="address1" formControlName="diachi" class="input form-control"></textarea>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"> Địa chỉ giao hàng và thanh toán của tôi là như nhau.
                    </label>
                </div>
                <input class="button  pull-left" type="button" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content" id="button-payment-address" value="tiếp theo" />
            </div>
        </div>
    </div>
</div>
<!-- END PAYMENT ADDRESS -->
<!-- BEGIN PAYMENT METHOD -->
                <div id="payment-method" class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle">
                                Bước 2: Phương thức thanh toán
                            </a>
                        </h2>
                    </div>
                    <div id="payment-method-content" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="col-md-12">
                                <p>Vui lòng chọn phương thức thanh toán ưa thích để sử dụng cho đơn hàng này.</p>
                                <div class="radio-list">
                                    <label>
                                        <input type="radio" name="CashOnDelivery" value="CashOnDelivery"> Thanh toán khi giao hàng
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="delivery-payment-method">Thêm bình luận về đơn hàng của bạn</label>
                                    <textarea id="delivery-payment-method" rows="8" class="input form-control"></textarea>
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> tôi đã đọc và đồng ý với <a title="Terms & Conditions" href="#"> Điều khoản dịch vụ </a> &nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                                <div style="clear: both">
                                    <input class="button pull-left" type="button" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content"value="tiếp theo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <!-- END PAYMENT METHOD -->
                <!-- BEGIN CONFIRM -->
                   <div id="confirm" class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" class="accordion-toggle">
                                Bước 3: Xác nhận đơn hàng
                            </a>
                        </h2>
                    </div>
                    <div id="confirm-content" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="col-md-12 clearfix">
                                <div class="table-wrapper-responsive">
                                <span id="show-total"></span>
                                <table class="table table-bordered table-responsive cart_summary">
                                    <thead>
                                        <tr>
                                            <th class="cart_product">Ảnh</th>
                                            <th>Sản phẩm</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                            <th class="action"><i class="fa fa-trash-o"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="sp" *ngFor="let qu of giohang">
                                        <td class="cart_product"><a href="#"><img src="assets/images/hinhanh/Products/{{qu.hinh}}" style="width:50px;height:50px" alt="Product"></a></td>
                                        <td class="cart_description"><p class="product-name"><a href="#"></a></p><small class="cart_ref"><h5>{{qu.tensp}}</h5></small><br></td>
                                        <td class="price"><span style="color: #e84d1c; font-size: 18px; font-weight: bold;">{{qu.gia| currency:'VND':true:'1.0-2'}}</span></td>
                                        <td class="qty">
                                            <input class="form-control input-sm" type="text" readonly="" [value]="qu.quantity">
                                            <a class="plus" data-product-code=""><i class="fa fa-caret-up"></i></a>
                                            <a class="minus" data-product-code=""><i class="fa fa-caret-down"></i></a>
                                        </td>
                                        <td class="price"><span style="color: #e84d1c; font-size: 18px; font-weight: bold;">{{qu.money| currency:'VND':true:'1.0-2'}}</span></td>
                                        <td class="action"><a class="remove_product" (click)="deleteItem(qu.masp)" data-product-code="">Xóa sản phẩm</a></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" rowspan="1"></td>
                                            <td colspan="3"><strong>Thành tiền: </strong></td>
                                            <td colspan="1" id="show-total_price" style="font-weight: bold; color: #e84d1c; font-size: 20px;">{{total| currency:'VND':true:'1.0-2'}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" rowspan="1"></td>
                                            <td colspan="3"><strong>Voucher</strong></td>
                                            <td colspan="1">
                                                <input style="font-weight: normal; letter-spacing: 3px;" class="input form-control" placeholder="Voucher....">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" rowspan="1"></td>
                                            <td colspan="3"><strong>Tổng cộng: </strong></td>
                                            <td colspan="1" id="total_price_all" style="font-weight: bold; color: #e84d1c; font-size: 20px;">{{total| currency:'VND':true:'1.0-2'}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>             
                </div>
                   <div class="clearfix"></div>
                   <button class="button pull-right" onclick="return confirm('bạn có muốn đặt hàng không?')" id="btn-remove-all-item" type="submit" >Xác Nhận Đơn Hàng</button>
                   <a type="button" href="" onclick="return confirm('bạn có chắc chắn muốn hủy đặt hàng?')" class="button-cancel pull-right margin-right-20">Hủy</a>
            </form>
        </div>
    </div>
</div>