<div class="cangiua">
    <div class="col-xs-12 col-sm-8 nopadding map-view" style="height: 800px;">
        <img src="assets/images/hinhanh/DaiDien/ggmap.png" />
    </div>
    <div class="col-xs-12 col-sm-4 map-info" style="height: 800px;">
        <div class="group-chi-nhanh" style="height: 695px;">
            <div class="tiem-cn active-tiem" id="tiem-0" src="">
                <h3>
                    Đồ gỗ nội thất & Thông tin
                </h3>
                <div class="tiem-cn-child">
                    <div class="dc-item"><b>Website:</b> <span>Đồ Gỗ Nội Thất</span></div>
                    <div class="phone-item"><b>Điện thoại:</b> <span>0979-349-831</span></div>
                    <div class="phone-item"><b>Email:</b> <span>Websitedogonoithat@gmail.com</span></div>
                    <div class="phone-item"><b>Quản Trị:</b> <span>Mr.Hưng</span></div>
                </div>
            </div>
            <div class="tiem-cn ">

                <h4>
                    Đồ Gỗ Nội Thất CNC Interior
                </h4>

                <div class="tiem-cn-child">
                    <div class="dc-item"><b>Địa chỉ:</b> <span>273/29/25 Nguyễn Văn Đậu, Phường 11, Quận Bình Thanh, Tp. Hồ Chí Minh</span></div>

                    <div class="phone-item"><b>Điện thoại:</b> <span>(028) 3505 3179</span></div>
                </div>
                <div style="clear:both"></div>
                <a class="chi-duong" target="_blank" href="https://www.nhadepkientruc.net/">Liên Hệ</a>
                <div style="clear:both"></div>
            </div>
            <div class="tiem-cn ">

                <h4>
                    Đồ Gỗ Nội Thất Gỗ Việt
                </h4>

                <div class="tiem-cn-child">
                    <div class="dc-item"><b>Địa chỉ:</b> <span> Số 1CN6, Cụm CN Từ Liêm, Hà Nội</span></div>

                    <div class="phone-item"><b>Điện thoại:</b> <span> 043.765.7071</span></div>
                </div>
                <div style="clear:both"></div>
                <a class="chi-duong" target="_blank" href="https://goviet.vn/"><img src="">Liên Hệ</a>
                <div style="clear:both"></div>
            </div>
            <div class="tiem-cn " id="tiem-3" src="">

                <h4>
                    Đồ gỗ nội thất Woodpro
                </h4>

                <div class="tiem-cn-child">
                    <div class="dc-item"><b>Địa chỉ:</b> <span> Tổ 28 – Thị trấn Đông Anh – Huyện Đông Anh – TP Hà Nội</span></div>

                    <div class="phone-item"><b>Điện thoại:</b> <span> 0243.990.5008</span></div>
                </div>
                <div style="clear:both"></div>
                <a class="chi-duong" target="_blank" href="woodpro.vn">Liên Hệ</a>
                <div style="clear:both"></div>
            </div>
            <div class="tiem-cn " id="tiem-4" src="">

                <h4>
                2N FURNITURE - Công Ty Cổ Phần Thương Mại Nam Nghĩa
                </h4>

                <div class="tiem-cn-child">
                    <div class="dc-item"><b>Địa chỉ:</b> <span>179/11 Nguyễn Văn Tiên, KP. 9, P. Tân Phong, TP. Biên Hòa,Đồng Nai</span></div>

                    <div class="phone-item"><b>Điện thoại:</b> <span>0972 271 8395</span></div>
                </div>
                <div style="clear:both"></div>
                <a class="chi-duong" target="_blank" href="http://noithat2n.com"><img src="">Liên Hệ</a>
                <div style="clear:both"></div>
            </div>
            <div>
                <h4>
                    Chi tiết liên hệ : 0979-349-831 sẽ được tư vấn!
                </h4>
                <a href="">Website: Đồ Gỗ Nội Thất</a>
            </div>
        </div>
    </div>
</div>