<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assets/images/hinhanh/pn/pn1.jpg" alt="Phòng Ngủ">
                            <img src="assets/images/hinhanh/pn/pn2.jpg" alt="Phòng Ngủ">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Tư vấn thiết kế phòng Ngủ</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">Nhận xét đánh giá</span>
                    </div>
                    <p class="product-description">
                    <p>các dạng thiết kế cho phòng ngủ</p>
                    <p>+ Thiết kế nội thất phòng ngủ cổ điển : Khi nhắc đến phong cách nội thất cổ điển, người ta nghĩ ngay đến hình ảnh không gian cổ kính, sang trọng, quý tộc. Không chỉ riêng phòng khách, mà phòng ngủ mang phong cách cổ điển sẽ mang đến không gian sang trọng, đầy thoải mái, giúp bạn thư giãn sau những giờ làm việc mệt mỏi và có được giấc ngủ sâu.</p>
                    <p>+ Thiết kế nội thất phòng ngủ hiện đại : Để căn phòng ngủ của bạn trở nên mộc mạc và thân thiện với môi trường hơn thì chúng ta có thể sử dụng đồ nội thất phòng ngủ đẹp với chất liệu gỗ sồi, xoan đào,… hay thậm chí kể cả gỗ công nghiệp. Bên cạnh đó kết hợp với những phụ kiện như gối trắng, rèm cửa hay khung tranh sẽ làm cho bạn có một mẫu phòng ngủ đẹp, lãng mạn cũng như có được nơi nghĩ ngơi có tính thẩm mỹ, nghệ thuật.</p>
                    <p>+ Thiết kế nội thất phòng ngủ theo kích thước : Phòng ngủ với các diện tích khác nhau cho nên việc bài trí nội thất sao cho phù hợp với mỗi không gian cũng khác nhau. Đối với những căn phòng có diện tích thì việc thiết kế nội thất với những nội thất như giường ngủ, tủ quần áo bàn trang điểm, tủ tivi được bố trí sắp xếp làm sao cho có được một không gian đẹp.Thiết kế nội thất phòng ngủ cho căn hộ chung cư sẽ có những cách bố trí sắp xếp đồ vật nội thất khác nhau tùy thuộc vào từng không gian cụ thể mà ta sẽ có cách bố trí nội thất sao phù hợp nhất để có được một không gian sống sang trọng và tiện nghi. Đây là một ví dụ về cách bố trí nội thất với căn hộ sẽ được bố trí như sau: tủ quần áo được bố trí cạnh cửa, có thể thiết kế tủ âm tường hoặc một hệ tủ lớn cao sát trần giúp lưu trữ hiệu quả.</p>
                    <p>Bảo Hành : 5 năm</p>
                    <p>☆☆☆☆☆ Ưu tiên khách hàng mua 2 sản phẩm mới hoàn thiện sơn PU ☆☆☆☆☆</p>
                    <p>->>> Chú ý : Ưu Đãi Đặc Biệt Khi Quý Khách Mua 3 sản phẩm cùng 1 lúc bên công ty chúng tôi có khuyến mãi giảm giá tất lên đến 3% tổng hóa đơn giá trị sản phẩm !</p>
                    <p>Mọi chi tiết vui lòng liên hệ</p>
                    <p>Nhữ Văn Hưng</p>
                    <p>Địa chỉ cơ sở sản xuất : Thái Hòa – Bình Giang – Hải Dương</p>
                    <p>Hotline: 0344-990-147</p>
                </div>
            </div>
        </div>
    </div>
</div>