<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assets/images/hinhanh/pb/pb1.jpg" alt="Phòng Bếp">
                            <img src="assets/images/hinhanh/pb/pb3.jpg" alt="Phòng Bếp">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Tư vấn thiết kế phòng Ăn</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">Nhận xét đánh giá</span>
                    </div>
                    <p class="product-description">
                    <p>các dạng thiết kế cho phòng bếp quan trọng đi vào sắp xếp hợp lý</p>
                    <p>Bố chí bếp</p>
                    <p>+ Chiếu sáng - Thông gió : Ngày nay các trang thiết bị tốt về chiếu sáng, hút khói (quạt, máy hút khói…) đã cho phép bếp không nhất thiết phải gắn với thiên nhiên bên ngoài nhưng khi điều kiện cho phép, vẫn phải tận dụng tối đa mối quan hệ trực tiếp với các yếu tố thiên nhiên, không chỉ vì nhu cầu sinh lý, vật chất mà còn là vấn đề thẩm mỹ và tâm lý. Tường và vật liệu mặt bàn bếp cần phải là vật liệu đẹp, các thiết bị cũng phải có tính thẩm mỹ cao và sạch sẽ.</p>
                    <p>+ Bố cục không gian và thiết bị trong bếp : Việc bố trí các quầy trong bếp phải được chú ý sao cho khoảng cách giữa các quầy cũng như khoảng cách giữa các thiết bị là hợp lý để tiện nghi khai thác cho người sử dụng cũng như để các thiết bị không ảnh hưởng nhau (gồm có tủ lạnh, lò nấu, máy giặt, các ngăn kéo tủ chia thức ăn và dụng cụ bát đĩa nồi niêu). Cách bố trí các quầy bếp có thể là kiểu hai bàn song song hay chữ L hay chữ U hay chữ U hẹp, khoảng cách giữa 2 cạnh có thể chỉ 0,9m để với sang hai bên cho tiện lợi.</p>
                    <p>Bố trí các thiết bị chính</p>
                    <p>+ Chậu rửa: là vị trí quan trọng nhất ở bếp, được sử dụng trước khi nấu, trong khi nấu, khi ăn cũng như dọn bàn sau khi ăn. Đó là nơi người nội trợ dùng nhiều nhất trong bếp. Vì vậy vị trí người đứng trước chậu rửa là vị trí phải quan sát được các không gian có quan hệ nhất là bàn ăn (chú ý không được để các tủ treo che khuất) và không gian bên ngoài theo một trong hai phương thức trực tiếp hoặc gián tiếp. Mặc khác nó cần có quan hệ với các bộ phận liên quan bên trong như tủ chén bát, giỏ rác, bếp nấu. Cần chú ý để cánh của các bộ phận này không va vào nhau.</p>
                    <p>+ Giỏ rác: ngày nay giỏ rác không chỉ có một, có thể dùng nhiều giỏ rác để phân chia ngay rác ướt, rác khô và loại rác có thể tái sinh.</p>
                    <p>+ Tủ lạnh: Được một số tác giả coi là có tầm quan trọng thứ hai. Khi bố trí một tủ lạnh, cần cân nhắc không gian cần thiết để tiếp cận tủ đồng thời khi mở cánh cửa tủ không bị vướng mắc. Tủ lạnh được dùng tới nhiều, trong khi nấu, sửa soạn, khi ăn, sau khi ăn cũng như dùng tới trong những lúc giải trí, nghỉ ngơi khác. Vì vậy việc bố trí tủ lạnh cần được coi trọng.</p>
                    <p>+ Bếp lò: Ở nước ta bếp lò đã được cải thiện rất nhiều từ khi gas đốt được bán rộng rãi tại Việt Nam. Bếp gas và lò viba ngày càng ưa dùng tại vì tính thiện lợi và sạch sẽ. Bếp phải bố trí phía có tường đặc kín gió (không có cửa sổ) cũng như cần tránh các luồng gió thổi bạt làm tắt các lửa bếp.</p>
                    <p>Bảo Hành : 5 năm</p>
                    <p>☆☆☆☆☆ Ưu tiên khách hàng mua 2 sản phẩm mới hoàn thiện sơn PU ☆☆☆☆☆</p>
                    <p>->>> Chú ý : Ưu Đãi Đặc Biệt Khi Quý Khách Mua 3 sản phẩm cùng 1 lúc bên công ty chúng tôi có khuyến mãi giảm giá tất lên đến 3% tổng hóa đơn giá trị sản phẩm !</p>
                    <p>Mọi chi tiết vui lòng liên hệ</p>
                    <p>Nhữ Văn Hưng</p>
                    <p>Địa chỉ cơ sở sản xuất : Thái Hòa – Bình Giang – Hải Dương</p>
                    <p>Hotline: 0344-990-147</p>
                </div>
            </div>
        </div>
    </div>