<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assets/images/hinhanh/plv/plv2.jpg" alt="Phòng Làm Việc">
                            <img src="assets/images/hinhanh/plv/plv3.jpg" alt="Phòng Làm Việc">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Tư vấn thiết kế phòng làm việc</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">Nhận xét đánh giá</span>
                    </div>
                    <p class="product-description">
                    <p>các yêu cầu quan trọng đi vào sắp xếp hợp lý cho căn phòng làm việc</p>
                    <p>Những yêu cầu về việc bố trí, sắp xếp</p>
                    <p>+ Dễ vệ sinh: Cần phải sắp xếp một cách gon gàng, sạch sẽ, lau chùi và dọn dẹp thường xuyên không nên để đồ đạc bị bám bụi. Nếu như trong nhà có ít cửa sổ, hơi tối thì nên chọn đồ đạc có tông màu hơi nhạt một chút đồng thời cũng nên thiết kế và bố trí những loại đèn có ánh sáng mạnh để tăng nguồn sáng cho không gian sống trong nhà.</p>
                    <p>+ Tiện sử dụng: Tất cả các đồ nội thấy trong phòng cần phải sắp xếp sao cho tiện lợi với nhu cầu sử dụng. Nếu có thể cần phải tận dụng các không gian trong phòng để sắp đặt đồ dùng và trang trí cho phù hợp với thẩm mỹ chung tạo không gian làm việc thoải mái.</p>
                    <p>Các dạng thiết kế</p>
                    <p>+ Đơn giản: Đồ đạc phải được sắp xếp có trật tự, gọn gàng, nếu đồ đạc không cần sử dụng đến nên cất vào kho hoặc thanh tý theo cách riêng của bạn. Nếu bạn cứ giữ lại mà không có mục đích sử dụng, hoặc sắp đặt bừa bãi không theo một chủ đề nào sẽ khiến bạn rất dễ có cảm giác chán nản mệt mỏi khi bước vào nhà.</p>
                    <p>+ Thống nhất: Đồ đạc lộn xộn sẽ khiến cho căn phòng bừa bãi mất tính thẩm mỹ. Vì thế, kiểu dáng và chất liệu của các đồ đạc trong nhà phải thống nhất, hài hòa, như vậy mới có thể tạo ra được vẻ đẹp cân đối cho ngôi nhà.</p>
                    <p>+ Hài hòa: Màu sắc trong, ngoài căn nhà cần phải được kết hợp với nhau một cách hài hòa. Trong mỗi căn phòng cần phải tạo được cảm giác vui vẻ, tươi trẻ và hợp với đồ nội thất bài trí bên trong. Tuy nhiên trong mỗi phòng không nên sử dụng nhiều quá hai màu sắc.</p>
                    <p>+ Cách điệu: Những đồ đạc trong gia đình mặc dù rất đơn giản và cần phải thống nhất nhưng cũng cần phải có sự cách điệu trong trang trí sắp xếp để có thể tạo ra cảm giác thẩm mỹ mới lạ cho con người.</p>
                    <p>+ Bếp lò: Ở nước ta bếp lò đã được cải thiện rất nhiều từ khi gas đốt được bán rộng rãi tại Việt Nam. Bếp gas và lò viba ngày càng ưa dùng tại vì tính thiện lợi và sạch sẽ. Bếp phải bố trí phía có tường đặc kín gió (không có cửa sổ) cũng như cần tránh các luồng gió thổi bạt làm tắt các lửa bếp.</p>
                    <p>Bảo Hành : 5 năm</p>
                    <p>☆☆☆☆☆ Ưu tiên khách hàng mua 2 sản phẩm mới hoàn thiện sơn PU ☆☆☆☆☆</p>
                    <p>->>> Chú ý : Ưu Đãi Đặc Biệt Khi Quý Khách Mua 3 sản phẩm cùng 1 lúc bên công ty chúng tôi có khuyến mãi giảm giá tất lên đến 3% tổng hóa đơn giá trị sản phẩm !</p>
                    <p>Mọi chi tiết vui lòng liên hệ</p>
                    <p>Nhữ Văn Hưng</p>
                    <p>Địa chỉ cơ sở sản xuất : Thái Hòa – Bình Giang – Hải Dương</p>
                    <p>Hotline: 0344-990-147</p>
                </div>
            </div>
        </div>
    </div>
</div>