<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assetsimages/hinhanh/DaiDien/Gioithieu.png" alt="Tư Vấn Nội Thất">
                            <img src="assetsimages/hinhanh/DaiDien/thietke2.png" alt="Tư Vấn Nội Thất">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Tư Vấn Thiết Kế Các Mẫu Sản Phẩm</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">Nhận xét đánh giá hiệu quả tư vấn !</span>
                    </div>
                    <p class="product-description">
                    <p>Trước khi mua hàng thì khách hàng cần xác định dõ rằng sản phẩm dành cho không gian nào!</p>
                    <p>Chúng tôi có thể cho bạn xem các gợi ý về các sản phẩm phù hợp nhất ở mọi không gian</p>
                    <p>+ Phòng khách   : Các sản phẩm dành riêng cho phòng khách phải có một độ tinh tế và sang trọng</p>
                    <p>+ Phòng ngủ     : sản phẩm về phòng ngủ thì lại được thiết đế phù hơp với sở thích cá nhân</p>
                    <p>+ Phòng ăn      : Phòng ăn chúng ta nên đặt vấn đề tiện lợi nên trên hết không quá quan trọng về bên ngoài</p>
                    <p>+ Phòng làm việc: Riêng về phòng làm việc thì chúng ta nên chọn làm sao để bố cục được hài hòa và có sự chỉnh chu</p>
                    <p>Khi đã xác định xong việc cần mua gì bước kế tiếp mức giá. Thường sẽ có 2 loại</p>
                    <p>+ Loại 1 : Trên 30,000,000 ₫</p>
                    <p>+ Loại 2 : Dưới 30,000,000 ₫</p>
                    <p>Chắc chắn có sự khác biệt về 2 loại sản phẩm</p>
                    <p>+ Loại 1 : Nguyên liệu hoàn toàn gỗ được sử dụng đúng theo quy định nhà nước</p>
                    <p>+ Loại 2 : Chất lượng được tốt được bảo đảm về mặt chi tiết tỉ mỉ</p>
                    <p>Bảo Hành : 5 năm đối với sản phẩm loại 2 và 1 năm với sản phẩm loại 1</p>
                    <p>☆☆☆☆☆ Ưu tiên khách hàng mua 2 sản phẩm mới hoàn thiện sơn PU loại 2 ☆☆☆☆☆</p>
                    <p>->>> Chú ý : Ưu Đãi Đặc Biệt Khi Quý Khách Mua 3 sản phẩm cùng 1 lúc bên công ty chúng tôi có khuyến mãi giảm giá tất lên đến 3% tổng hóa đơn giá trị sản phẩm !</p>
                    <p>Mọi chi tiết vui lòng liên hệ</p>
                    <p>Nhữ Văn Hưng</p>
                    <p>Địa chỉ cơ sở sản xuất : Thái Hòa – Bình Giang – Hải Dương</p>
                    <p>Hotline: 0344-990-147</p>
                    <p class="vote">
                        <strong>Các bạn cần tư vấn chi tiết về :</strong>
                    </p>
                    <div class="action">
                        <a href="" target="_blank"><button class="add-to-cart btn btn-default" type="button">Phòng Khách</button></a> <a href="" target="_blank"><button class="add-to-cart btn btn-default" type="button">Phòng Ngủ</button></a> <a href="" target="_blank"> <button class="add-to-cart btn btn-default" type="button">Phòng Ăn</button></a><a href="" target="_blank"> <button class="add-to-cart btn btn-default" type="button">Phòng Làm Việc</button></a><a href="" target="_blank"> <button class="add-to-cart btn btn-default" type="button">Phòng Bếp</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>