<br />
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="assets/images/hinhanh/pk/pk2.jpg" alt="Phòng Khách">
                            <img src="assets/images/hinhanh/pk/pk3.jpg" alt="Phòng Khách">
                            <img src="assets/images/hinhanh/pk/pk4.jpg" alt="Phòng Khách">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Tư vấn thiết kế phòng khách</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">Nhận xét đánh giá</span>
                    </div>
                    <p class="product-description">
                    <p>các điều cần biết về phòng khách</p>
                    <p>+ Thiết kế hài hòa sang trọng phù hợp cho tiếp khách</p>
                    <p>+ Ánh sáng : Tốt nhất nên thiết kế phòng khách hứng nhiều ánh sáng tự nhiên bằng cách mở thêm cửa sổ hoặc sử dụng cửa kính. Ánh sáng tự nhiên mang theo sinh lực, luồng khí tốt đến gia đình, làm cho mọi người vui tươi, tràn đầy năng lượng, khỏe khoắn. Việc để bóng tối u ám bao quanh lâu ngày sẽ ảnh hưởng lớn đến sức khỏe, tâm lý của các thành viên trong gia đình.). Trong trường hợp phòng khách không có không gian để hứng ánh sáng tự nhiên thì có thể dùng ánh sáng nhân tạo như đèn trang trí để đảm bảo đủ ánh sáng cho phòng.</p>
                    <p>+ Sàn phòng khách: tốt nhất nên bằng phẳng, không có nhiều bậc thang hay lồi lõm, kiểu thiết kế cao thấp mấp mô sẽ khiến tài vận của gia chủ bị ảnh hưởng không tốt.</p>
                    <p>+ Hình dáng đồ vật: Khi thiết kế nội thất cho phòng khách, tránh sử dụng những vật có hình dáng sắc nhọn. . Thay vào đó, có thể thiết kế nội thất đường cong, trang trí vật dụng hình cầu, hình tròn để gia tăng tình cảm, tạo sự ấm cúng cho gian phòng. Nếu có nhu cầu trang trí các vật phong thủy bạn nên tham khảo ý kiến các chuyên gia.</p>
                    <p>+ Tránh mở cửa chính và cửa sau trực diện: Nhiều người muốn mở cửa thẳng nhau để tạo không gian rộng cho phòng khách, bố cục này khiến cho các trường khí tốt vừa vào nhà đã đi thẳng ra, chủ nhân khó tích lũy được tài lộc, thậm chí còn hao tài tốn của. Hai cửa nên được bố trí kiểu chéo nhau.</p>
                    <p>Các tiêu chuẩn màu sắc</p>
                    <p>+ Màu sắc của không gian màu khách nên phù hợp với tổng thể ngôi nhà, ưu tiên những tone màu tươi sáng trẻ trung hoặc sang trọng ấm áp. Màu sắc tường, trần nhà, sàn nhà kết hợp với các vật dụng nội thất như sofa, kệ tivi, tủ giày,…cùng các vật dụng trang trí như rèm cửa, thảm lót sàn,…phải phối hợp hài hòa với nhau tạo nên nét đẹp thống nhất cho không gian.</p>
                    <p>+ Gam màu trẻ trung tươi sáng thường được áp dụng để thiết kế nội thất phòng khách hiện đại</p>
                    <p>+ Gam màu trầm ấm sang trọng được sử dụng nhiều cho gian phòng khách cổ điển, tân cổ điển</p>
                    <p>Để thêm nét đa dạng và cuốn hút cho không gian phòng, bạn nên sử dụng các vật với mẫu mã bắt mắt. Bức ảnh trở nên độc đáo dưới đây được là một ví dụ.Căn phòng được đặc trưng bởi những chiếc ghế sofa với các kích cỡ khác nhau ở hai bên, đồng thời bàn nhỏ ở giữa tạo thêm khoảng không rộng rãi cho phòng khách</p>
                    <p>Thêm một cách khác để sử dụng nghệ thuật trong thiết kế và trang trí nhà đó là tạo chiều sâu cho căn phòng. Một bức tranh có tiền cảnh, trung, hậu và điểm tụ. Hay căn nhà muốn có chiều sâu cũng phải đáp ứng được những yếu tố trên.Ví dụ, để tạo không gian phòng bạn có thể đứng ở ngưỡng ngôi nhà, đặt chiếc ghế ở góc và tạo tiền cảnh gần với mình nhất. Tiếp đó, đặt một loại bàn gần có thể tạo trung cảnh và ghế sofa trong cùng với tường sẽ làm nền cho căn phòng. Cửa sổ sẽ là tâm phối cảnh cho phòng.</p>
                    <p>Bảo Hành : 5 năm</p>
                    <p>☆☆☆☆☆ Ưu tiên khách hàng mua 2 sản phẩm mới hoàn thiện sơn PU ☆☆☆☆☆</p>
                    <p>->>> Chú ý : Ưu Đãi Đặc Biệt Khi Quý Khách Mua 3 sản phẩm cùng 1 lúc bên công ty chúng tôi có khuyến mãi giảm giá tất lên đến 3% tổng hóa đơn giá trị sản phẩm !</p>
                    <p>Mọi chi tiết vui lòng liên hệ</p>
                    <p>Nhữ Văn Hưng</p>
                    <p>Địa chỉ cơ sở sản xuất : Thái Hòa – Bình Giang – Hải Dương</p>
                    <p>Hotline: 0344-990-147</p>
                </div>
            </div>
        </div>
    </div>
</div>